/vendor
/node_modules
/public/hot
/public/storage
/public/anexos/*
/public/imagens/*
/storage/*.key
/config/mail.php
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
vendor/webmozart/assert/psalm.xml
vendor/webmozart/assert/.php_cs
vendor/webmozart/assert/.github/workflows/ci.yaml
vendor/webmozart/assert/.editorconfig
vendor/paragonie/constant_time_encoding/.gitattributes
vendor/google/auth/phpstan.neon.dist
vendor/bin/commonmark
